 <h1 id="сергеев-иван">Сергеев Иван</h1>

<p><a href="https://t.me/Sergeevid">Telegram</a> / <a href="https://www.linkedin.com/in/ivan-sergeev-b0b659254/">LinkedIn</a> / <a href="https://github.com/seroburomalinoviy">Github</a> / <a href="/CV.pdf">PDF</a></p>

<blockquote>
  <p>Hi! I'm looking for interesting and challenging projects in a cool it company.</p>
</blockquote>

<h2 id="work-experience">Work experience</h2>

<p><strong>Developer of platform tests</strong> @ <a href="https://tripleten.com">TripleTen [Yandex Practicum]</a> (December 2022 — …)</p>

<p>Development of automated tests for training courses (ast library, GitHub workflow, unit-tests).</p>

<p>Research of platform and content problems related to technical implementation.</p>

<p>Development of tools for the team and business: parsers, data processors (including GPT models), a service for automatic diploma assembly.</p>

<p>Consultations of the content team and developers on issues of technical support for students.</p>

<ul>
  <li>DA/DS</li>
  <li>Python Developer</li>
  <li>Back-end Developer (Django)</li>
  <li>Basic SQL</li>
  <li>Java Developer (checks on the platform are implemented as a bundle of bash + python)</li>
</ul>

<p><strong>Python back-end developer</strong> @ Freelance</p>

<p>Development and support of the Django REST API using the Django REST Framework (DRF), using PostgreSQL and Docker.</p>

<p>Development of a microservice for the integration of a telegram bot, a neural network and RabbitMQ, using PostgreSQL, Redis as a cache and an additional database, as well as RabbitMQ for messaging.</p>

<p>My role included developing new functionality and ensuring reliable operation of existing services, as well as participating in the design of the system with an emphasis on performance and scalability.</p>

<p><strong>Python back-end developer</strong> @ iQutor (March 2022 — February 2023)</p>

<p>Support and refinement of the django service with aiogram and asyncio bots for an online educational platform with tutors for schoolchildren.</p>

<h2 id="education">Education</h2>

<blockquote>
  <p>Saint Petersburg National Research University of Information Technologies, Mechanics and Optics, Saint Petersburg (ITMO University)</p>
</blockquote>

<h3 id="master">Master's Degree</h3>

<p>SUIR, Robotics and Artificial Intelligence</p>

<p>Master's Degree program: <strong>“Robotics and artificial intelligence”</strong></p>

<p>The topic of the research work: <em>“Research of motion capture algorithms”.</em></p>

<h3 id="bachelor">Bachelor's Degree</h3>

<p>Bachelor's degree program: <strong>“Mechatronics and Robotics”</strong>.</p>

<p>Thesis topic: <em>“УControl of inductors to create a levitation effect”</em></p>

<p>Winner of the All-Russian conference of young scientists of ITMO University with the topic of the work <em>“Research of control algorithms for inductors”</em></p>

<p>Research paper: <em>“Moving platform for landing a flying drone”</em></p>

<p>Participant of the XV All‐Russian conference of young scientists "Energy 2020".</p>

<h2 id="courses">Courses</h2>

<ul>
  <li>ITMO University
Openedu, Data processing and analysis</li>
  <li>ITMO University
Openedu, An Introduction to Machine Learning</li>
</ul>
